@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Body background */
body {
    background: rgba(26, 11, 46, 1);
    max-width: 1600px;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    max-width: 1600px;
    height: 92px;
    padding: 16px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: rgba(26, 11, 46, 1);
}

/* Logo */
.logo {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}

.logo span {
    background: linear-gradient(90deg,
            #ff8a5b 0%,
            #ff3fa4 40%,
            #a84cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Navigation */
.nav-links {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.nav-links a:hover {
    opacity: 0.7;
}

/* Gradient Button */

.btn-subscribe,
.btn-1 {
    padding: 12px 26px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    box-shadow: 0 8px 24px rgba(255, 79, 216, 0.35);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: none;
}

.btn-1:hover {
    transform: translateY(-1px);
    box-shadow: 0 12px 32px rgba(255, 79, 216, 0.5);
}

.btn-subscribe:hover {
    transform: translateY(-1px);
    box-shadow: 0 12px 32px rgba(255, 79, 216, 0.5);
}

.btn-subscribe a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Banner Section */

.banner-container {
    background-image: url(./assets/hero-bg.png);
    width: 1600px;
    height: 760px;
    position: relative;
}

.banner-container .hero-circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.banner-container .hero-circle-container .circle {
    position: absolute;
    right: 39%;
    top: 15%;
}

.banner-container .hero-circle-container .microphone {
    position: absolute;
    right: 46%;
    top: 28%;
}

.banner-container .hero-circle-container .hero-circle-img>h4 {
    padding: 8px 16px;
    color: rgba(26, 11, 46, 1);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background: rgba(0, 255, 136, 1);
}

.new-toltip {
    position: absolute;
    right: 40%;
    top: 22%;
}

.banner-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 170px;
    margin-top: 490px;
}

.banner-title>h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3.8rem;
    font-weight: 800;
    text-transform: capitalize;
}

.banner-title>p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.banner-title .banner-button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
}

.about-container {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px 120px;
    margin-bottom: 50px;

}

.about {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 1200px;
    margin-top: ;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.about>h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
}

.about>p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.493);
    line-height: 30px;
}

.status-container {
    display: flex;
    gap: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.208);
}

.status-container>p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.559);
}

.status-container .about-status {
    font-size: 3rem;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
    margin-top: 80px;
}